h1 {
  color: rgb(46, 64, 69);
  margin-bottom: 1px;
  padding: 1cm;
  font-size: auto;
}

summary {
  color: hsl(150deg 30% 60%);
  font-size: 12pt;
}

details[open] {
  color: darkslateblue;
}

audio {
  color: color(srgb 0.2 0.4 0.6 / 0.5);
}

footer {
  background-color: color-mix(in srgb, white 50%, pink 50%);
}
